body{
    background-color: #323232;
    margin-right: 20%;
    margin-left: 20%;
    align-content: center;

}
header{
    margin-top: 10%;
}
section{
    align-content: center;
    margin-left: 20%;
    width: 600px;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #F7F7F7;
    align-content: center;
    margin-top: 2px;
    margin-bottom: 4px;
}
#piclow{
   width: 24.5%;
   height: 50%;
}
#pichigh{
    width: 24.5%;
    height: 50%;
    margin-bottom: 40px;
 }

.about_text{
    float: right;
    font-size: 18px;
    margin: 4px;
    margin-top: 10%;
    font-family: Verdana;
    color: darkgrey;
}
.about_img{
    float: left;
    margin: 4px;
}
div{
    margin: 10px;
}


h3.paragraph-divider { width: auto; position: relative; text-align: center; color: gray;}
    h3.paragraph-divider:after { position:absolute;
  content:'';
  height:2px;
  width:40%;
  top:50%;
  transform:translateY(-30%);
  left:0;
  transform:translateX(-1%);
  z-index:-1;
  background: gray; }
h3.paragraph-divider:before {position: absolute;
  content:'';
  height:2px;
  width:40%;
  top:50%;
  transform:translateY(-40%);
  right:0;
  transform:translateX(0%);
  z-index:-1;
  background: gray; }
