body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    background-color: #424242;
    height: 100%;
    min-height: 100%;
    position: relative;
}

body::after {
    content: '';
    display: block;
    height: 210px; /* Set same as footer's height */
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: Georgia;
}

/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    color: white;
    background-color: #1b1b1b;
    padding: 20px 10px;
    margin: 0;
}

/* Style the header links */
.header a {
    float: left;
    width: 20%;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 0.9rem;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.1s;
}

/* Float the link section to the right */
.header-center {
    display: block;
    margin: auto;
    width: 67%;
}

/* Change the background color on mouse-over */
.header .tab:hover {
    color: #d32f2f;
}

.logo__wrapper {
    padding: 20px;
    background-color: #1b1b1b;
    text-align: center;
    height: 5rem;
}

.logo {
    width: 12rem;
    height: auto;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 210px;
    text-align: center;
    background-color: #6d6d6d;
    font-size: 2rem;
    overflow: auto;
}

.footer-social-media {
    margin: 2.5rem;
}

.footer-icon-wrapper {
    width: 33%;
    float: left;
}

.footer-icon {
    padding: 2.5rem;
    height: 150px;
}

.footer-social-media:hover {
    color: #e53935;
}

.contact {
    margin: auto;
    font-size: 1rem;
    color: white;
    text-align: center;
    font-weight: lighter;
}

/* Gallery */
.preview-gallery {
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 200px;
    border: 1px solid #e53935;
    padding: 1.8rem;
    display: block;
    position: relative;
}

.preview-gallery-phone {
    display: none;
    margin-bottom: 100px;
}

.row {
    margin: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create four equal columns that floats next to each other */
.img-gallery {
    float: left;
    width: 25%;
    overflow: auto;
}

img.hover {
    cursor: pointer;
    transition: 0.1s;
    padding: 1.8rem;
    margin: 0;
    border: 1px solid transparent;
}

.hover:hover {
    border: 1px solid #e53935;
}

.button-gallery__wrapper {
    background-color: #424242;
    padding: 15px;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    display: block;
    border: 0;
    border-radius: 0;
    transition: background .1s;
}

.button-gallery {
    background-color: #e53935;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: 600;
    transition: 0.1s;
    cursor: pointer;
}

.button-gallery:hover {
    background-color: #ff6659;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

.modal-image {
    width: 70%;
    height: 100%;
    float: left;
}

.modal-sidebar {
    width: 30%;
    background: #1b1b1b;
    color: white;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    display: none;
    margin: 0;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 60%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 30%;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 100;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
}

/* Caption text */
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: 0.6;
    width: 100%;
}

.active,
.demo:hover {
    opacity: 1;
}

.button-gallery-phone__wrapper {
    height: 4rem;
    position: relative;
}

.button-gallery-phone__wrapper a {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 960px) {
    .preview-gallery {
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 750px) {
    img.hover {
        cursor: pointer;
        transition: 0.1s;
        padding: 1.3rem;
        margin: 0;
        border: 1px solid transparent;
    }

    .preview-gallery {
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .preview-gallery {
        display: none;
    }

    .preview-gallery-phone {
        display: block;
    }

    .img-gallery {
        float: left;
        width: 50%;
        overflow: auto;
    }

    .button-gallery {
        text-align: center;
    }

    .contact {
        font-size: 15px;
    }

    .modal-sidebar p {
        font-size: 10px;
    }
}