body{
    background-color: #323232;

}
.vl {
    border-left: 6px solid red;
    height: 100%;
    float: right;
}
#tours_mainpic{
    width: 100%;
    height: 80%;
}

.tours_mainpic{
    width: 10%;
    height: 10%;
}
.tour_text{
    color: darkgrey;
}
section{
    align-content: center;
    margin-right: 20%;
    margin-left: 20%;
}
#map img{
    margin-top: 5%;
    width: 100%
}
#otherEvents img{
    padding-top: 10%;
    width: 100%;
}
#icon{
    position: fixed;
    top: 2%;
    left:17%;
}