html, body{

    padding: 2px 2px 2px 2px;
    height: 100%;
    font-family: Garamond;
    text-align: center;
}

h1{
    font-size: 100px;
    margin-bottom: 3%;
}

h2{
    font-size: 50px;
}

.tangerine{
    font-family: 'Tangerine', serif;
}

.flex{
    display: flex;
}

.divider{
    width: 30%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.frame{
    object-fit: contain;
    overflow: hidden;
    width: 110px;
    height: 110px;
    border: solid 2px;
    display: block;
    margin-right: 20px;
}

.imagew{
    width:100%;
}

.gallery{
    margin-left: -250px;
    position: relative;
    left: 50%;
}

.text{
	word-break: break-word;
    text-align:justify;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-size: 14pt;
}

.centered-text{
    text-align: center;
}

footer{
    margin: 5px;
}

ul{
    list-style: none;
}

.styled{
    list-style: square;
}

.body-img{
    width: 100%;
}

table, th, td{
    border: solid 1px;
    padding: 5px;
}
